* {
  font-family: sans-serif;
}

.App {
  text-align: center;
}

table {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #213547;
}

button {
  border:none;
  border-radius: 8px;
  padding: .6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: border-color .25s;
}


tbody tr {
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #00ccff;
  }
}