@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-gradient-text {
  background-size: 200% 200%;
  background-position: 0% 50%;
  transition: background-position 3s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.animate-matrix-green {
  text-shadow: 
    0 0 5px #52fc11,
    0 0 10px #52fc11,
    0 0 15px #52fc11,
    0 0 20px #41d10e,
    0 0 25px #35ae0b,
    0 0 30px #2a8c09,
    0 0 35px #1e6b06;
  animation: matrix-glow-green 3s infinite alternate;
  font-family: 'Roboto', sans-serif;
}

@keyframes matrix-glow-green {
  0% {
    opacity: 0.8;
    text-shadow: 
      0 0 10px #52fc11,
      0 0 20px #41d10e,
      0 0 30px #35ae0b;
  }
  50% {
    opacity: 1;
    text-shadow: 
      0 0 15px #52fc11,
      0 0 25px #52fc11,
      0 0 35px #52fc11;
  }
  100% {
    opacity: 0.8;
    text-shadow: 
      0 0 10px #52fc11,
      0 0 20px #41d10e,
      0 0 30px #35ae0b;
  }
}
